/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

main {
    margin: 1rem 2rem;
    min-height: 75vh;
}

p {
    color: blue
}